{% extends "base.twig" %}

{% block intro %}
	{# {{ dump(post.thumbnail) }} #}
	<header class="intro__header">
		<div id="breadcrumbs" class="">
			{% if post.post_type == 'post' %}
				<span>Blog: Give & Learn</span>
			{% elseif post.post_type == 'grant'  %}
				<a href="/our-portfolio">Our Portfolio</a>
				<span>></span>
				<span>Grants</span>
				{% else %}
			{% endif %}
		</div>
		<h1 class="intro__heading">{{ post.intro.heading ?: post.title }}</h1>
		{% include "molecules/entry-meta.twig" %}
	</header>
	{% include "atoms/featured-image.twig" with [post] %}
{% endblock %}

{% block content %}
	{% if 'grant' == post.post_type %}
		{% include "molecules/grant-details.twig" with [ post ] %}
	{% endif %}
	<article class="post post-type--{{ post.post_type }}" id="post{{ post.ID }}">
		<div class="post__wrapper">
			<div class="post__content">
				{{ post.content }}
				{% if post.links %}
					<h3>Read more:</h3>
					<ul>
						{% for item in post.links %}
							<li>
								<a href="{{ item.url ? item.url : item.link.url }}" target="{{ item.url ? item.url : item.link.url }}" class="newTab">{{ item.title ? item.title : item.link.title }}</a>

							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
	</article>

	{% if post.footnotes %}
		{% include "molecules/footnotes.twig" with post.footnotes  %}
	{% endif %}

	<footer class="post-tags entry-meta clearfix">
		<span class="topics">
			<span>Topics:</span>
			{% if 'Grant' == post_type_name %}
				{% for tag in tags %}
					<a href="/our-portfolio/?topic={{ tag.slug }}">{{ tag.name }}{{ loop.last ? '' : ',' }}</a>
				{% endfor %}
			{% else %}
				{% for tag in tags %}
					<a href="/blog/?topic={{ tag.slug }}">{{ tag.name }}{{ loop.last ? '' : ',' }}</a>
				{% endfor %}
			{% endif %}
		</span>
	</footer>
	<nav class="entry-navigation">
	{# <pre>
		{{ dump(post.prev) }}
	</pre> #}
		{% if 'grant' == post_type_name %}
			<a href="{{ prev_post.link }}" class="previous-entry">Previous Grant</a>
			<a href="{{ next_post.link }}" class="next-entry">Next Grant</a>
		{% else %}
			<a href="{{ post.prev.link }}" class="previous-entry">Previous {{ post_type_name ?: 'Post' }}</a>
			<a href="{{ post.next.link }}" class="next-entry">Next {{ post_type_name ?: 'Post' }}</a>
		{% endif %}
	</nav>
{% endblock %}
