{% set terms = [] %}
{% for term in post.terms %}
    {% if term.taxonomy == 'organization' %}
        {% set terms = terms|merge([term]) %}
    {% endif %}
{% endfor %}

{% set slug = get_term(terms|first.id).link %}
<dl>
	<dt>Organization:
	</dt>
	<dd><a href="{{ slug }}">{{ terms|first.name }}</a></dd>
	<dt>Award Date:
	</dt>
	<dd>{{ post.date_of_award }}</dd>

	<dt>Amount:
	</dt>
	<dd>${{ post.amount }}</dd>

	<dt>Purpose:
	</dt>
	<dd>{{ post.purpose }}</dd>
</dl>
