 {% set slug = get_term(post.terms|first.id).link %}
<dl>
	<dt>Organization:
	</dt>
	<dd><a href="{{ slug }}">{{ post.terms|first.name }}</a></dd>
	<dt>Award Date:
	</dt>
	<dd>{{ post.date_of_award }}</dd>

	<dt>Amount:
	</dt>
	<dd>${{ post.amount }}</dd>

	<dt>Purpose:
	</dt>
	<dd>{{ post.purpose }}</dd>
</dl>
