{% if menu %}
	<ul class="{{ menu.classes }}">
		{% for item in menu.items %}
			<li class="{{ item.classes | join(' ') }}">
				<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
				{% if item.children is not empty %}
					<ul>
						{% for item in item.children %}
							<li class="{{ item.classes | join(' ') }}">
								<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endif %}
