<section id="spotlight">
    <a href="{{ spotlight.link.url }}">
        <div class="tile-img gradient-overlay">
            <img src="{{ spotlight.image.src }}" alt="{{ spotlight.image.alt }}">
        </div>
        <hgroup>
            <h1>{{ spotlight.leadin }}</h1>
            <h2>{{ spotlight.heading }}</h2>
        </hgroup>
        <p>{{ spotlight.description }}</p>
    </a>
</section>